.list{
  background-color: beige;
  padding: 15%;
  height: 100%;
  margin: auto;
}

/* .list table{
  border: 1px solid black;
} */

/* .list table td{
  border: 1px solid black;
} */

/* .list table .td-status{
  padding: 5px important;  
} */

.list table thead{
  background-color: #ddd;
}

.list table tbody{
  background-color: #fff;
}

.form-style{
  background-color: beige;
  margin: auto;
  padding: 15%;
  height: 100vh;
}