.list{
  background-color: beige;
  padding: 15%;
  height: 100%;
  width: 100%;
  margin: auto;
  min-width: 420px;
}


/* .list table{
  border: 1px solid black;
} */

/* .list table td{
  border: 1px solid black;
} */

/* .list table .td-status{
  padding: 5px important;  
} */

.list table thead{
  background-color: #ddd;
}

.list table tbody{
  background-color: #fff;
}

.list.client-list .card{
  max-width: 300px;
}

@media(max-width:560px){
  .list.client-data .card{
    font-size: 13px;
  }
}

.form-style{
  background-color: beige;
  margin: auto;
  padding: 15%;
  height: 100vh;
}